body, html {
    height: 100%;
    margin: 0;
}
#chat-display .message {
    margin-bottom: 10px;
}
#chat-input:focus, button:focus, input:focus {
    outline: none;
}
.message-sent {
    background-color: #dcf8c6;
    align-self: flex-end;
}
.message-received {
    background-color: #fff;
    align-self: flex-start;
}
.message {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
}